@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

html,
body,
.root {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

@media screen and (min-width: 850px) {
  html,
  body,
  #root {
    height: 100vh;
  }
}
