.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.modal {
  display: flex;
  flex: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: collapse;
  background-color: white;
  filter: drop-shadow(0 0 5px gray);
  /* border: 2px solid black; */
  border-radius: 5px;
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
  z-index: 3;
  width: 90%;
  max-width: 600px;
}

.modal-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: collapse;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal-img {
  width: 40%;
  margin: 10px;
  filter: drop-shadow(0px 0px 2px gray);
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-form textarea {
  resize: none;
  height: 150px;
}

.modal-form input,
.modal-form textarea {
  outline: none;
  width: 300px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}
.modal-form label {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
  font-size: 17px;
  margin: 4px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.modal.visible {
  visibility: visible;
  opacity: 1;
}
.comments-add-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 45px;
}

@media screen and (min-width: 850px) {
  .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: scroll;
    height: 100%;
    min-width: 350px;
  }
  .comments-add-button {
    height: calc(100vh - 135px);
    align-items: flex-start;
    min-width: 350px;
    margin-bottom: 0;
  }
}
