.issue-create {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.issue-create-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.issue-create-form textarea {
  resize: none;
  height: 150px;
}

.issue-create-form input,
.issue-create-form textarea {
  outline: none;
  width: 300px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}
.issue-create-form label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: black;
  font-size: 17px;
  margin: 4px;
}
.issue-create-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.issue-file-thumb {
  width: 100px;
  margin-top: 10px;
  border-radius: 10px;
}
.issue-create-img {
  width: 430px;
}
