.social-bar {
  height: 40px;
  display: flex;
  align-items: center;
  /* margin-top: 10px; */
  /* width: 150px; */
  /* position: absolute;
  bottom: -10px;
  left: 70%; */
  /* border: solid thin black; */
  position: fixed;
  bottom: 5px;
}

.github-icon {
  margin: 0px 10px 2px 10px;
  /* border: solid thin black; */
}
.linkedin-icon {
  margin: 0px 10px 4px 2px;
  /* border: solid thin black; */
}

.footer {
  position: fixed;
}
@media screen and(min-width: 850px) {
  .social-bar {
    position: fixed;
  }
}
