header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
  padding: 5px;
}

.header-logo {
  color: #bb3200;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
  width: 50%;
}

.links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 65%;
}
.login {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  max-width: 100px;
}
