button {
  color: white;
  outline: none;
  font-weight: 700;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  height: 35px;
  background-color: #bb3200;
  margin: 5px;
  padding: 8px;
  transition: transform 0.1s ease-in-out;
  filter: drop-shadow(0 0 3px gray);
}

button:active {
  transform: scale(0.95);
}
